<html lang="en"><head>
<meta http-equiv="content-type" content="text/html">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="index, goodagood testing">
<meta name="keywords" content="goodagood, filesystem, sharing">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Andrew">


<!--
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-glyphicons.css">
-->

<link rel="stylesheet" href="/static/css/fa/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/tmp/from-client.css">

<title> 
  Checking html      
</title>

<style type="text/css">
      
</style>

</head>

<body>
<div class="container">
  <header id="header">
    <h1 class="logo">
      <span class="username">
      abc
      </span>
      <!-- tmp solution in html for user icon -->
      <span class="icon user-icon" data-icon-href="abc">
        <img src="/test/find-user-icon/abc/32/32" class="icon user-icon" data-id="abc" alt="">
      </span>

    </h1>
    <a class="to_nav" href="#primary_nav"> <i class="fa fa-list"></i> Menu </a>
  </header>


  <!-- content body  -->
  <div class="row">
  <button id="tbtn"> Test the script </button>

    <!-- for file list -->

    <div id="file_list" class="tree">
  <div class="one_file">
    <div class="selector"><label class="file-selector">
    <input type="checkbox" name="filepath[]" value="abc/add-2/8e311f4e-c2aa-43c4-9571-83207c98b4e3">
    <span class="filename">a.html</span>
    </label></div>
    <div class="download">
    <a href="/ss/"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
      <a href="/del/abc/add-2/8e311f4e-c2aa-43c4-9571-83207c98b4e3">
        <span class="fa fa-remove"></span>Delete
      </a>
      </span>
    </div>
    <div class="value">
    <span class="value">0 
        <i class="fa fa-cog"></i>
      </span>
    </div>
  </div>


  <div class="one_file">
    <div class="selector"><label class="file-selector">
    <input type="checkbox" name="filepath[]" value="abc/add-2/e97c9f96-0cec-42d7-9f33-c58ec6a7c6c2">
    <span class="filename">manman</span>
    </label></div>
    <div class="download">
    <a href="/ss/"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
      <a href="/del/abc/add-2/e97c9f96-0cec-42d7-9f33-c58ec6a7c6c2">
        <span class="fa fa-remove"></span>Delete
      </a>
      </span>
    </div>
    <div class="value">
    <span class="value">0 
        <i class="fa fa-cog"></i>
      </span>
    </div>
  </div>


  <div class="one_file">
    <div class="selector"><label class="file-selector">
    <input type="checkbox" name="filepath[]" value="abc/add-2/762f19fd-5e64-48fa-9425-59c412c8a55a">
    <span class="filename">man</span>
    </label></div>
    <div class="download">
    <a href="/ss/"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
      <a href="/del/abc/add-2/762f19fd-5e64-48fa-9425-59c412c8a55a">
        <span class="fa fa-remove"></span>Delete
      </a>
      </span>
    </div>
    <div class="value">
    <span class="value">0 
        <i class="fa fa-cog"></i>
      </span>
    </div>
  </div>


  <div class="one_file">
    <div class="selector"><label class="file-selector">
    <input type="checkbox" name="filepath[]" value="abc/add-2/8bc38f26-1bab-4df0-9a29-d8ed04877234">
    <span class="filename">index.html</span>
    </label></div>
    <div class="download">
    <a href="/ss/"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
      <a href="/del/abc/add-2/8bc38f26-1bab-4df0-9a29-d8ed04877234">
        <span class="fa fa-remove"></span>Delete
      </a>
      </span>
    </div>
    <div class="value">
    <span class="value">0 
        <i class="fa fa-cog"></i>
      </span>
    </div>
  </div>


  <div class="one_file">
    <div class="selector"><label class="file-selector">
    <input type="checkbox" name="filepath[]" value="abc/add-2/7812af05-4d10-4ef7-afc8-0912c347df28">
    <span class="filename">upjs.js</span>
    </label></div>
    <div class="download">
    <a href="/ss/"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
      <a href="/del/abc/add-2/7812af05-4d10-4ef7-afc8-0912c347df28">
        <span class="fa fa-remove"></span>Delete
      </a>
      </span>
    </div>
    <div class="value">
    <span class="value">0 
        <i class="fa fa-cog"></i>
      </span>
    </div>
  </div>


  <div class="one_file">
    <div class="selector"><label class="file-selector">
    <input type="checkbox" name="filepath[]" value="">
    <span class="filename">img2</span>
    </label></div>
    <div class="download">
    <a href="/ss/"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
      <a href="/del/">
        <span class="fa fa-remove"></span>Delete
      </a>
      </span>
    </div>
    <div class="value">
    <span class="value"> 
        <i class="fa fa-cog"></i>
      </span>
    </div>
  </div>


  <div class="one_file">
    <div class="selector"><label class="file-selector">
    <input type="checkbox" name="filepath[]" value="">
    <span class="filename">test</span>
    </label></div>
    <div class="download">
    <a href="/ss/"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
      <a href="/del/">
        <span class="fa fa-remove"></span>Delete
      </a>
      </span>
    </div>
    <div class="value">
    <span class="value"> 
        <i class="fa fa-cog"></i>
      </span>
    </div>
  </div>


  <div class="one_file">
    <div class="selector"><label class="file-selector">
    <input type="checkbox" name="filepath[]" value="abc/add-2/c602abde-4483-4c31-9617-5f5379f53109">
    <span class="filename">activities.txt</span>
    </label></div>
    <div class="download">
    <a href="/ss/"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
      <a href="/del/abc/add-2/c602abde-4483-4c31-9617-5f5379f53109">
        <span class="fa fa-remove"></span>Delete
      </a>
      </span>
    </div>
    <div class="value">
    <span class="value">0 
        <i class="fa fa-cog"></i>
      </span>
    </div>
  </div>


  <div class="one_file">
    <div class="selector"><label class="file-selector">
    <input type="checkbox" name="filepath[]" value="abc/add-2/0237593f-4f97-4af3-8b45-3c6ac043daad">
    <span class="filename">funny-cats-2014.mp4</span>
    </label></div>
    <div class="download">
    <a href="/ss/"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
      <a href="/del/abc/add-2/0237593f-4f97-4af3-8b45-3c6ac043daad">
        <span class="fa fa-remove"></span>Delete
      </a>
      </span>
    </div>
    <div class="value">
    <span class="value">0 
        <i class="fa fa-cog"></i>
      </span>
    </div>
  </div>


  <div class="one_file">
    <div class="selector"><label class="file-selector">
    <input type="checkbox" name="filepath[]" value="abc/add-2/59132c4d-063c-4691-9293-fbbe5f690d13">
    <span class="filename">j00m15s.mp3</span>
    </label></div>
    <div class="download">
    <a href="/ss/"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
      <a href="/del/abc/add-2/59132c4d-063c-4691-9293-fbbe5f690d13">
        <span class="fa fa-remove"></span>Delete
      </a>
      </span>
    </div>
    <div class="value">
    <span class="value">0 
        <i class="fa fa-cog"></i>
      </span>
    </div>
  </div>


  <div class="one_file">
    <div class="selector"><label class="file-selector">
    <input type="checkbox" name="filepath[]" value="abc/add-2/1b5ea209-4fb2-4089-be29-0c1a32bbbf82">
    <span class="filename">links0128.md</span>
    </label></div>
    <div class="download">
    <a href="/ss/"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
      <a href="/del/abc/add-2/1b5ea209-4fb2-4089-be29-0c1a32bbbf82">
        <span class="fa fa-remove"></span>Delete
      </a>
      </span>
    </div>
    <div class="value">
    <span class="value">0 
        <i class="fa fa-cog"></i>
      </span>
    </div>
  </div>


  <div class="one_file">
    <div class="selector"><label class="file-selector">
    <input type="checkbox" name="filepath[]" value="abc/add-2/14e2443b-0a36-4221-bf68-ac1c8da434c7">
    <span class="filename">.folder.opt.json</span>
    </label></div>
    <div class="download">
    <a href="/ss/"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
      <a href="/del/abc/add-2/14e2443b-0a36-4221-bf68-ac1c8da434c7">
        <span class="fa fa-remove"></span>Delete
      </a>
      </span>
    </div>
    <div class="value">
    <span class="value">0 
        <i class="fa fa-cog"></i>
      </span>
    </div>
  </div>
</div>
    <!-- %= ul_of_file_list % -->

  </div>
  <!-- content body end -->


  <footer>
    <div class="row-fluid goodagood-footer">
    <p class="text-center"> goodogood, goodagood, Andrew ® © 
    <a href="/logout"> Logout </a>
    </p><p>
    </p></div>
  </footer>


</div> <!-- end of container -->

<!--
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/static/js/jquery.inspect.js"></script>

min version:
<script src="/static/bower_components/underscore/underscore-min.js"></script>
<script src="/static/backbone/backbone-min.js"></script>

-->


<script src="/static/bower_components/jquery/jquery.js"></script>

<script src="/static/bower_components/underscore/underscore.js"></script>
<script src="/static/bower_components/handlebars/handlebars.min.js"></script>
<!-- put underscore.js before backbone!! -->
<script src="/static/bower_components/backbone/backbone.js"></script>


<script>
var hh = {}; // an holder in debugging

$( document ).ready(function() {
  var folder_path = "abc/add-2";

  function  fetch(){
    var url = 'http://54.178.71.88/client/post-for-file-meta-list';
    var ajax_data = {cwd:folder_path, username:'abc' };
    var aparam = {url:url, type:'POST', data: ajax_data, dataType:'json',
      xhrFields: {withCredentials:true}
    };
    console.log('going to ajax: ', aparam);

    $.ajax(aparam)
    .done(function(data, state, jqxhr){
      //$("div#file_list input:checkbox").attr("checked", false);
      console.log('ajax done: ', data, state, jqxhr);
      hh.data = data;
      if(state === 'success') $("div#file_list").html(_.map(data.meta_list, render_file).join("\r\r"));
    })
    .fail(function(jqxhr, state, err){
      console.log('ajax fail. ');
      //console.log('ajax fail: ', jqxhr, state, err);
    });
  }

  var compiled_file_tpl = Handlebars.compile($("script#file-template").html());
  //console.log(compiled_file_tpl.slice(0, 200));
  hh.cft = compiled_file_tpl;

  function render_file(data){
    return compiled_file_tpl(data);
  }

  function list_file(metas){
    var parts = _.map(metas, render_file);
  }

  



  $("button#tbtn").click(function(){
    console.log('you clicked the button');
    fetch();
  });


  //$.inspect(this);

  console.log('end of the script'); // Means browser parsed here.
});
</script>




<!-- 
  vars: 
        (file) name, path_uuid, file_key, 
-->
<script type="text/template" id="file-template">
  <div class="one_file">
    <div class="selector"><label class="file-selector">
    <input type="checkbox" name="filepath[]" value="{{{ path_uuid }}}" />
    <span class="filename">{{{ name }}}</span>
    </div>
    <div class="download">
    <a href="/ss/{{{ file_key }}}"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
      <a href="/del/{{{ path_uuid }}}">
        <span class="fa fa-remove"></span>Delete
      </a>
      </span>
    </div>
    <div class="value">
    <span class="value">{{{ value.amount }}} 
        <i class="fa fa-cog"></i>
      </span>
    </div>
  </div>
</script>


<script type="text/template" id="stats-template">
  <% if (done) { %>
  <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
  <% } %>
  <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
</script>
<!-- end of template -->




<!-- vim: et ts=2 sw=2 tw=150
-->



</body></html>
